*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
}
.heading{
    background-color: black;
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    h1{
        text-shadow: 0 1px 10px wheat;
        letter-spacing: 5px;
        word-spacing: 15px;
        font-size: 22px;
        font-weight: 500;
    }
    margin-bottom: 30vh;
    
}
#data{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-shadow: 0 1px 5px white;
    box-sizing: border-box;
    box-shadow: 0 10px 50px black;
    
}